.user{
  text-align: center;
  max-width: 600px;
  height: 500px;
  margin-top: 50px;
  margin-left: 35%;
  background-color: white;
  border-radius: 15px;
}
.user h1{
  padding-top: 20px;
  padding-bottom: 2px;
  margin-left:55px;
}
.user input{
 text-align: center; 
 margin-left:20px;
 border-radius: 15px;
 width: 220px;
 height: 18px;
 font-family: Arial, Helvetica, sans-serif;
}
.sel_op{
  text-align: center; 
  margin-left:85px;
  padding-right: 100px;
  border-radius: 15px;
  width: 430px;
  height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
